---
layout: page
title: Categories
header: Posts By Category
group: navigation
---
{% include JB/setup %}
<style>
.logo{ width:250px; height:60px; background-size:260px 60px; margin-top:0;}
.banner{ display:none}
@media screen and (min-width: 900px) {
.menu .item{ border-top:none;}
}
@media screen and (min-width: 1150px) {
.logo a{ width:250px; height:60px}
}
</style>
<div class="submenu">
	<div class="bd clear">
	  {% assign categories_list = site.categories %}
	  {% include JB/categories_list %}
	</div>
</div>



<div class="bodyarea">
	<div class="bodylist">
{% for category in site.categories %} 
		<h2 id="{{ category[0] }}-ref">{{ category[0] | join: "/" }}</h2>
		<ul>
		    {% assign pages_list = category[1] %}  
		    {% include JB/pages_list %}
		</ul>
{% endfor %}

	</div>
</div>
