---
layout: page
title: Tags
header: Posts By Tag
group: navigation
---
{% include JB/setup %}
<style>
.logo{ width:250px; height:60px; background-size:260px 60px; margin-top:0;}
.banner{ display:none}
@media screen and (min-width: 900px) {
.menu .item{ border-top:none;}
}
</style>
<div class="submenu">
	<div class="bd clear">
  {% assign tags_list = site.tags %}  
  {% include JB/tags_list %}
	</div>
</div>



<div class="bodyarea">
	<div class="bodylist">
{% for tag in site.tags %} 
		
  <h2 id="{{ tag[0] }}-ref">{{ tag[0] }}</h2>
		<ul>
    {% assign pages_list = tag[1] %}  
    {% include JB/pages_list %}
		</ul>
{% endfor %}

	</div>
</div>