<div class="toparea">

<div class="topnav clear">
<div class="hotpoint">
	<span class="tx_20">今日热点</span><span class="tx_song tx_20 ml5">&gt;</span>
</div>
<div class="navlist">
<ul class="clear">
<li class="item clear">
<div class="left"><a href="###">澳网冠军瓦林卡首轮出局</a></div>
<div class="right"><span class="c_tx2">2014.5.12</span></div>
</li>
<li class="item clear">
<div class="left"><a href="###">澳网冠军瓦林卡首轮出局</a></div>
<div class="right"><span class="c_tx2">2014.5.12</span></div>
</li>
<li class="item clear">
<div class="left"><a href="###">澳网冠军瓦林卡首轮出局</a></div>
<div class="right"><span class="c_tx2">2014.5.12</span></div>
</li>
</ul>
</div>
</div>

<div class="banner">
<img src="images/banner.jpg" alt="" />
<div class="slo">防守瞬间 科比被锁喉马努早餐器</div>
</div>

<div class="menu">
<div class="logo"><a href="{{ HOME_PATH }}">{{ site.title }}</a></div>
<ul class="clear">
<li class="category item tx_20">
	<a href="/sportsnews/categories.html"><span class="tx_tge c_tx4">01</span> Categories</a>
</li>
<li class="tag item tx_20">
	<a href="/sportsnews/tags.html"><span class="tx_tge c_tx4">02</span> Tags</a>
</li>
<li class="archive item tx_20">
	<a href="/sportsnews/archive.html"><span class="tx_tge c_tx4">03</span> Archive</a>
</li>
<li class="all item tx_20">
	<a href="/sportsnews/all.html"><span class="tx_tge c_tx4">04</span> All</a>
</li>
<li class="about item tx_20">
	<a href="/sportsnews/about.html"><span class="tx_tge c_tx4">05</span> About Us</a>
</li>
</ul>
</div>

</div>



<!-- {{ page.title }} -->

{{ content }}
