<div class="toparea">

<div class="topnav clear">
<div class="hotpoint">
	<span class="tx_20">今日热点</span><span class="tx_song tx_20 ml5">&gt;</span>
</div>
<div class="navlist">
<ul class="clear">
<li class="item clear">
<div class="left"><a href="/sportsnews/cba/2014/05/26/热身4战男篮阵容初现端倪-11人稳定仅剩1名额/">热身4战男篮阵容初现端倪</a></div>
<div class="right"><span class="c_tx2">2014.6.8</span></div>
</li>
<li class="item clear">
<div class="left"><a href="/sportsnews/cba/2014/05/24/男篮险胜澳洲结束热身-郭艾伦13分奇兵砍15+6/">男篮险胜澳洲结束热身</a></div>
<div class="right"><span class="c_tx2">2014.6.8</span></div>
</li>
<li class="item clear">
<div class="left"><a href="/sportsnews/cba/2014/05/21/12次罚篮！突破之魂！澳洲钢铁防线拿他没辙/">12次罚篮！突破之魂！</a></div>
<div class="right"><span class="c_tx2">2014.6.8</span></div>
</li>
</ul>
</div>
</div>

<div class="banner">
<a href="/sportsnews/足球/2014/06/03/熊猫杯-国青9分钟丢2球1-4巴西-恒大小将建功/"><img src="assets/themes/rhythm-stream/skin/banner2.jpg" alt="" /></a>
<div class="slo"><a href="/sportsnews/足球/2014/06/03/熊猫杯-国青9分钟丢2球1-4巴西-恒大小将建功/">国青9分钟丢2球1-4巴西 恒大小将建功</a></div>
</div>

<div class="menu clear">
<div class="logo"><a href="{{ HOME_PATH }}">{{ site.title }}</a></div>
<ul class="clear">
<li class="category item tx_20">
	<a href="/sportsnews/categories.html"><span class="tx_tge c_tx4">01</span> 新闻分类</a>
</li>
<li class="tag item tx_20">
	<a href="/sportsnews/tags.html"><span class="tx_tge c_tx4">02</span> 热点标签</a>
</li>
<li class="archive item tx_20">
	<a href="/sportsnews/archive.html"><span class="tx_tge c_tx4">03</span> 历史存档</a>
</li>
<li class="all item tx_20">
	<a href="/sportsnews/all.html"><span class="tx_tge c_tx4">04</span> 全部文章</a>
</li>
<li class="about item tx_20">
	<a href="/sportsnews/about.html"><span class="tx_tge c_tx4">05</span> 关于我们</a>
</li>
</ul>
</div>

</div>



<!-- {{ page.title }} -->

{{ content }}
